/* FILEPATH: /c:/Users/jases/OneDrive/Desktop/Codeing/_AgoraCollective/AgoraCollective/src/components/navbar/NavBar.css */

.navbar {
    background-color: #f2f2f2;
    padding: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

.navbar a:hover {
    color: #ff0000;
}

nav.navbar {
    margin-bottom: 20px;
}
