.legendimage{
    box-shadow: 20 20 20px #d9d9d91c !important;
    width: 50% !important;
}
img.legendimage {
    box-shadow: 2px 0px 87px 36px navajowhite;
}
.legend{
    width: 50% !important;
    margin-left: 50% !important;
    margin-top: -50% !important;
    padding: 10px !important;
    background-color: #f2f2f2 !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 5px !important;
    position: absolute !important;
    z-index: 1000 !important;
    display: none !important;
    font-size: 12px !important;
    color: #666 !important;
    box-shadow: 5 5 5px #130505 !important;
    text-align: center !important;
    line-height: 1.5 !important;
    font-weight: 400 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    text-decoration: none !important;
    letter-spacing: normal !important;
    word-spacing: normal !important;
    text-align: start !important;
    text-indent: 0px !important;
    text-shadow: none !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    width: 50% !important;
    height: 50% !important;
    padding: 10px !important;
    background-color: #f2f2f2 !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 5px !important;
    position: absolute !important;
    z-index: 1000 !important;
    display: none !important;
    font-size: 12px !important;
    color: #666 !important;
    box-shadow: 0 0 5px #d9d9d91c !important;
    text-align: center !important;
    line-height: 1.5 !important;
    font-weight: 400 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal !important;
    font-variant: normal !important;
    text-transform: none !}